<!DOCTYPE html>
<title>Lint5</title>
<link href="http://fonts.googleapis.com/css?family=Syncopate|Roboto+Condensed|Roboto:500" rel="stylesheet" type="text/css">
<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/typography.css" rel="stylesheet" type="text/css" />
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	$(function() {
		var update = function() {
			$("aside").each(function() {
				var $this = $(this);
				if( $this.is(window.location.hash) ) {
					$this.addClass("active");
				}
				else {
					$this.addClass("inactive");
					$this.removeClass("active");
					$(this).one('webkitTransitionEnd', function() {
						$(this).removeClass("inactive");
					});
				}
			});
		};
		$(window).on('hashchange', update);
		update();
		$("aside").wrapInner('<div class="contents"></div>');
	});
</script>

<header>
	<h1>Lint5</h1>
	<a href="https://github.com/roarkely/htmllint"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	<p>An extensable engine for <a href="http://html5rocks.com">HTML5</a> quality control.</p>
	<p>v0.1</p>
	<nav>
		<a href="#Workspace">Workspace</a>
		<a href="#Options">Options</a>
	</nav>
	<h2>About</h2>
	<nav>
		<a href="#Tests">Tests</a>
		<a href="#Extending">Extending</a>
	</nav>
</header>

{{> workspace}}
{{> options}}
{{> tests}}
{{> extending}}