<section id="Workspace">
	<div class="input-options">
		<h2>What do you want to lint?</h2>
		<form>
			<label for="source-url">URL</label>
			<input id="source-url" type="text" placeholder="http://">
			<button>Load</button>
		</form>
		<form>
			<label for="source-file">File</label>
			<input id="source-file" type="file">
		</form>
		<p>Or just <a href="">close this</a> and start typing.</p>
		<!--
		<fieldset class="source">
			<input id="url-source" type="radio" name="source" value="url">
			<label for="url-source">URL</label>
			<input id="file-source" type="radio" name="source" value="file">
			<label for="file-source">File</label>
			<input id="text-source" type="radio" name="source" value="text">
			<label for="text-source">Text</label>
		</fieldset>
		-->
	</div>
</section>